@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
* {
  font-family: "Balsamiq Sans", cursive;
}
.container-right {
  background-color: rgb(255, 254, 252);
  position: relative;
  margin-left: 485px;
  margin-top: -923px;
  height: 923px;
}
h1 {
  margin-top: 95px;
  color: rgb(87, 114, 148);
}
span {
  color: rgb(87, 114, 148);
}
.conditions {
  color: rgb(29, 202, 254);
}
h5 {
  color: rgb(87, 114, 148);
}
#row1 {
  margin-top: 75px;
}
#rama {
  border-radius: 10%;
  width: 100%;
  height: 50%;
  border: 2px solid;
  border-color: rgb(171, 184, 201);
}
#row2 {
  margin-top: 75px;
}
.btn {
  background-color: rgb(255, 254, 252);
  color: black;
  width: 190px;
  border: 1px solid black;
}
#row2 {
  margin-top: 75px;
}
.btn1 {
  background-color: rgb(170, 212, 234);
  color: rgb(10, 56, 104);
  width: 26%;
  height: 80%;
  border-style: none;
  border-radius: 8%;
  margin-top: 5%;
}
.btn2 {
  background-color: rgb(13, 198, 254);
  color: white;
  margin-top: 50%;
  width: 47%;
  height: 77%;
  border-style: none;
  border-radius: 8%;
  margin-top: 5%;
  box-shadow: 1px 2px 10px #072a4e;
}
#btndiv {
  margin-top: 5%;
  margin-left: -2%;
}
