<div class="container">
  <div class="row">
    <div class ="col-md-4"></div>
    <div class ="col-md-2"><img src="assets/img/casita3.png"></div>
    <div class =" col-md-2" class="cabecera"><h2>Magister</h2></div>
    <div class ="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><h1>¡Gracias!</h1></div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><h1 class="cabecera2">¡Tu reserva está en proceso!</h1></div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><p>La matricula solo será efectiva una vez se haya recivido el Pago port Tarjeta o  Transferencia</p> </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9"><button type="button" class="boton">Comenzar</button></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9"><h5 [routerLink]="['firstpage']">Volver atrás</h5></div>
    <div class="col-md-1"></div>
  </div>

  </div>
