@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
  font-family: 'Balsamiq Sans', cursive;
}
.container{
  text-align: center;
  margin-top: 15%;
}
.row{
  justify-content: space-between;
}
.cabecera{
  color: white;
  margin-left: -10%;
}
 img{
  width: 50%;
  height: 100%;
}
.col-md-8{
  margin-top: 5%;
}
.col-md-8 h1{
  font-size: 45px;
  color: white;
}
.col-md-6{
  margin-top: 5%;
}
.col-md-6 p{
  color:white;
  margin-bottom: 1%;
  margin-bottom: -1.5%;
  font-size: 20px;
}
.boton{
  background-color: rgb(13,198,254);
  color:white;
  width: 25%;
  height: 50%;
  border-style: none;
  border-radius: 8%;
  margin-top: 5%;
  box-shadow: 1px 2px 10px #072A4E;
}
.col-md-9{
  margin-top: 2%;
  color:rgb(13,198,254);
}
