@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
* {
  font-family: "Balsamiq Sans", cursive;
}
.container-right {
  background-color: rgb(255, 254, 252);
  position: relative;
  margin-left: 485px;
  margin-top: -923px;
  height: 930px;
}
h1 {
  margin-top: 95px;
  color: rgb(87, 114, 148);
}
#row1 {
  margin-top: 75px;
}
span {
  color: rgb(87, 114, 148);
}

h5 {
  color: rgb(87, 114, 148);
}
.btn {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 254, 252);
  color: rgb(87, 114, 148);
  width: 810px;
  height: 47px;
  border: 1px solid rgb(87, 114, 148);
  margin-top: 5%;
}
.btn2 {
  background-color: rgb(13, 198, 254);
  color: white;
  margin-top: 2%;
  width: 47%;
  height: 77%;
  border-style: none;
  border-radius: 8%;
  margin-top: 10%;
  box-shadow: 1px 2px 10px #072a4e;
}
#btndiv {
  margin-top: 20%;
  margin-left: 5%;
}
.btndiv2{
  margin-top: 3%;
  margin-left: 35%;
}
a {
  color: rgb(13, 198, 254);
  text-decoration: none;
  background-color: transparent;
  margin-left: 13%;
}
