<div class="container">
<div class="row">
  <div class ="col-md-4"></div>
  <div class ="col-md-2"><img src="assets/img/logo.png"></div>
  <div class =" col-md-2" class="cabecera"><h2>Magister</h2></div>
  <div class ="col-md-4"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8"><h1>¡Comencemos con tu matricula!</h1></div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6"><p>Para comenzar a</p> <p> especializarte, vamos a</p> <p>realizar unas preguntas para</p> <p>darte el mejor servicio</p></div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-9"><button type="button" class="boton">Comenzar</button></div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-9"><h5>Volver atrás</h5></div>
  <div class="col-md-1"></div>
</div>

</div>
