@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
* {
  font-family: "Balsamiq Sans", cursive;
}
.container-left {
  margin-top: 2%;
  margin-right: 25px;
  width: 35%;
}

.cabecera h2 {
  color: white;
  margin-left: 45%;
  margin-top: -8%;
  font-size: 40px;
}
img {
  width: 35%;
  height: 50%;
  margin-left: 15%;
}
ul{
  list-style:none
}

.bar{
  margin-left:5%;
  margin-top: 5%;
}
.node {
  height: 25px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}

.divider {
  height: 45px;
  width: 4px;
  margin-top: -12px;
  margin-left: 13px;
}

li p {
  display: inline-block;
  margin-left: 25px;
  font-size: 18px;
  color:rgb(87,114,148);
}

li {
  list-style: none;
  line-height: 1px;
}

.blue {
  background-color:rgb(87,114,148);
}

.grey {
  background-color: rgb(87,114,148);
}
.figura{
  margin-left: -5%;
  width: 25%;
  height: 25%;
}
.seleccionado{
  color: white;
  background-color: white;
}



