@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
* {
  font-family: "Balsamiq Sans", cursive;
}
/*.container-left {
  margin-top: 5%;
  margin-right: 25px;
  background-color: red;
  width: 35%;
}

.cabecera h2 {
  color: white;
  margin-left: 45%;
  margin-top: -10%;
}
img {
  width: 35%;
  height: 50%;
  margin-left: 15%;
}
ul{
  list-style:none
}

.seleccionado {
  color: white;
}*/
.wrapper .color span{
  width: 20px;
  height: 20px;
  background: #f00;
  border-radius: 50%;
  box-sizing: border-box;
}
